$count4ship: 3;
$controlMargin: 10px;
input[type="button"] {
    width: 100px;
    height: 20px;
    margin: 0 20px;
}
.control-4-ship {
    width: 100%/$count4ship - ($count4ship - 1)* 10 / $count4ship;
    height: 100%;
    background:#eee;
    box-shadow: 5px 5px 5px black;
    text-align: center;
    position: absolute;
    border-radius: 10%;
}
.control-4-ship-1 {
    left: 0;
}
.control-4-ship-2 {
    left: 100%/$count4ship;
    margin-left: ($count4ship - 1)*2*$controlMargin;
}
.control-4-ship-3 {
    right: 0;
}
.control-4-ship h3 {
    height: 20px;
    display: block;
    margin-bottom: 20px;
}



.selection-wrapper *{
  color:#fff;
}
.selection-wrapper form{
  height: 50px;
}
.fieldset{
  height: 30px;
}
input[type="radio"]{
  height: 10px;
  margin-left: 70px;
}
